@using web_app_asp_net_mvc_html.Models
@using web_app_asp_net_mvc_html.Extensions
@model List<Group>

<h1><b>Группы</b></h1>

@Html.ActionLink("Добавить запись", "Create", "Groups")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Группа
            </th>
            <th>
                Количество студентов
            </th>
            <th>
                Национальность(и) студентов
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
        <tr>
            <td>
                @group.GroupName
            </td>
            <td>
                @group.NumberOfStudents
            </td>  
            <td>
                @string.Join(", ", group.Nationalitys.Select(x => $"{x.Name}"))
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Groups", new { id = group.Id }, new { })
                @Html.ActionLink("Изменить", "Edit", "Groups", new { id = group.Id }, new { })
            </td>
        </tr>
        }
    </tbody>
</table>
