@using web_app_asp_net_mvc_html.Models
@model Lesson


<table>
    <tbody>
        <tr>

            <td>
                <h1><u>@Model.Discipline.Name</u></h1>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>Аннотация</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <span><b>Цель дисциплины</b></span>
                    <span><pre style="width: auto; white-space: pre-wrap;">@Model.Discipline.DisciplineGoal</pre></span>
                </p>
                <p>
                    <span><b>Задачи дисциплины</b></span>
                    <span><pre style="width: auto; white-space: pre-wrap;">@Model.Discipline.DisciplineObjectives</pre></span>
                </p>
                <p>
                    <span><b>Основные разделы</b></span>
                    <span><pre style="width: auto; white-space: pre-wrap;">@Model.Discipline.MainSections</pre></span>
                </p>



            </td>
        </tr>

    </tbody>
</table>


@Html.ActionLink("На главную", "Index", "Lessons")
<br>
@Html.ActionLink("Изменить дисциплины", "Index", "Disciplines")


<hr />


<sub><i>Описание может быть не точным</i></sub>