@using web_app_asp_net_mvc_html.Models
@using web_app_asp_net_mvc_html.Extensions
@model List<Lesson>

<h1><b>Расписание</b></h1>

@Html.ActionLink("Добавить запись", "Create", "Lessons")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Номер пары
            </th>
            <th>
                Дисциплина
            </th>
            <th>
                Группа(ы)
            </th>
            <th>
               Преподаватель
            </th>
            <th>
                Фото преподавателя
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model)
        {
        <tr>
            <td>
                @lesson.Number
            </td>
            <td>
                <a href="/Lessons/Detail/@lesson.Id">@lesson.Discipline.Name</a>
                
            </td>
            <td>
                @string.Join(", ", lesson.Groups.Select(x => $"{x.GroupName}"))
            </td>
            <td>
                @lesson.Teacher.Name
            </td>
            <td>
                <img src="/Teachers/GetImage/@lesson.TeacherId" style="max-width: 50px; max-height: 100px;" />
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Lessons", new { id = lesson.Id }, new { })
                @Html.ActionLink("Изменить", "Edit", "Lessons", new { id = lesson.Id }, new { })
            </td>
        </tr>
        }
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<footer>
    <dl>
        <dt>Дополнительная информация:</dt>
    </dl>
    <ol type="I">
        <li><h6><i>Данная работа сделана в ознакомительных целях</i></h6></li>
        <li><h6><i>Все люди вымышлены, а совпадения случайны</i></h6></li>
    </ol>  
        
</footer>